@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #12141f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f2444433;
  border-radius: 10px;
}

.gradient-text {
  background: linear-gradient(0deg, #ff7e5f, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
